/* Google Fonts: Lato heading */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* To prevent scrolling */
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: rgb(116 158 173);
    background-image: url(../images/game-pictures/background.webp);
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: contain;
}

#active {
    border-bottom: 2px solid white;
}

/* =================================== game area ================================================== */

#main-intro {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 60pt;
    background-color: rgb(58 148 50);
    border-radius: 20px;
    color: white;
    margin: 30px auto;
    width: 522px;
    box-shadow: black 0px 1px 20px 0px;
    padding: 10px;
}

#main-intro h1 {
    font-weight: bold;
    font-size: 40pt;
    background: #455d66;
    border-radius: 20px;
    color: white;
    margin: 50px auto 75px;
    width: 400px;
    box-shadow: black 0px 1px 20px 0px;
}

h2 {
    margin: 30px auto;
    font-size: 18pt;
    background: #68acb9;
    width: 300px;
    color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: black 0px 1px 20px 0px;
}

#button-area {
    text-align: center;
}

#opponent-pic {
    background-image: url(../images/game-pictures/intern.webp);
    background-repeat: no-repeat;
    height: 45vh;
    width: 17vw;
    background-size: contain;
    float: right;
    position: absolute;
    right: 25%;
    top: 50%;
    z-index: -1;
}

#opponent {
    font-size: 5vh;
    margin: 0 auto;
    font-weight: 900;
    color: white;
    background: #77acb2;
    width: 50vh;
    margin-top: 31px;
    box-shadow: black 0px 1px 20px 0px;
}

#play-button {
    margin: 30px auto;
    font-size: 18pt;
    width: 150px;
    background-color: rgb(58 148 50);
    border-radius: 20px;
    box-shadow: black 0px 1px 20px 0px;
    cursor: pointer;
    color: white;

    animation-name: element-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#start-button {
    color: white;
    width: 200px;
    margin: 10px auto;
    background-color: rgb(58 148 50);
    font-weight: 600;
    font-size: 18pt;
    cursor: pointer;
    box-shadow: black 0px 1px 20px 0px;
    border-radius: 20px;

    animation-name: element-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#intro-text p {
    font-size: 17pt;
    width: 500px;
    background: #68acb9;
    border-radius: 20px;
    color: white;
    margin: 50px auto 30px;
    padding: 45px;
    box-shadow: black 0px 1px 20px 0px;
}

.button {
    margin: 30px 33px 0;
    height: 7vh;
    width: 7vh;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 99;

    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes element-signal {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.2);
    }
}


.button:hover {
    transform: scale(1.4);
    transition: all 0.3s ease 0s;
}

.button:not(:hover) {
    transform: scale(1.0);
    transition: all 0.3s ease 0s;
}

#head-restart {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 5vw;
    height: 5vw;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background: #989191;
    font-size: 3vw;
}

#game-area {
    margin: 0 auto;
    text-align: center;
}

#player-choice {
    margin: 60px auto 0px;
    height: 10vh;
    width: 8vh;
    z-index: 99;

    animation-name: chosen-hand;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes chosen-hand {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.2);
    }
}


#player-value {
    font-weight: 800;
    font-weight: 800;
    font-size: 30pt;
    background: #5f5c5c;
    color: white;
    width: 200px;
    border-radius: 10%;
    margin: 0 auto;
    box-shadow: black 0px 1px 20px 0px;
}

#go-button {
    font-size: 3vh;
    width: 9vh;
    height: 5vh;
    border-radius: 20%;
    cursor: pointer;
    box-shadow: black 0px 1px 20px 0px;
    color: white;
    background: rgb(58 148 50);
    margin: 30px auto;
}

#health {
    display: block;
    font-size: 3vh;
    background: rgb(58 148 50);
    width: 9vh;
    height: 4vh;
    margin: 10px auto 0;
    color: white;
    border-radius: 50%;
    font-weight: 900;
    padding: 5px;
}

#comp-choice {
    font-size: 24pt;
    font-weight: 900;
}

#comp-hand {
    margin: 30px auto 0px;
    height: 10vh;
    width: 8vh;
}

#comp-lose {
    height: 10vh;
    width: 10vh;
    margin: 20px 50px;
    display: inline-block;

    animation-name: element-opacity;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes element-opacity {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.1;
    }
}


#outcome {
    font-size: 3vh;
    background: #5f5c5c;
    margin: 30px auto 0px;
    width: 23vh;
    font-weight: 900;
    color: white;
    box-shadow: black 0px 1px 20px 0px;
    border-radius: 10%;
}

#next-button {
    font-size: 3vh;
    margin: 20px auto 0;
    border-radius: 20px;
    width: 25vh;
    cursor: pointer;
    color: white;
    background: rgb(58 148 50);
    box-shadow: black 0px 1px 20px 0px;

    animation-name: element-move;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#result-area {
    text-align: center;
    font-weight: bold;
}

#result-area p {
    margin: 30px auto;
    box-shadow: black 0px 1px 20px 0px;
    background: #68acb9;
    line-height: 6vh;
    width: 50vh;
    border-radius: 10%;
    color: white;
    font-size: 3vh;
    padding: 10px;
}

#restart-button {
    background: rgb(58 148 50);
    color: white;
    width: 100px;
    height: 100px;
    font-size: 18pt;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: black 0px 1px 20px 0px;
}

#over-message {
    background: black;
    box-shadow: black 0px 1px 20px 0px;
    margin: 20px auto;
    width: 400px;
    font-size: 30pt;

    animation-name: game-over;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes game-over {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.1);
    }
}

#gameover-text {
    font-size: 18pt;
    margin: 35px auto 10px;
    width: 300px;
    padding: 10px;
    font-weight: 600;
    color: white;
    background-color: #808385;
    border-radius: 20px;
}

#win-message {
    margin: 20px auto;
    width: 400px;
    font-size: 30pt;
    color: white;
    box-shadow: none;

    animation-name: game-over;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#win-text {
    font-size: 18pt;
    margin: 35px auto 10px;
    width: 300px;
    padding: 10px;
}

#biggu-bossu {
    background-repeat: no-repeat;
    height: 50vh;
    width: 40vw;
    background-size: contain;
    position: absolute;
    right: 0%;
    top: 43%;
    z-index: -1;
}

/* animation for losing message */
#lose-message {
    font-size: 3vh;
    width: 40vh;
    margin: 10px auto;
    background-color: #505050;
    border-radius: 20px;
    padding: 10px;
    color: white;

    animation-name: try-again;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes try-again {
    from {
        transform: scale(0.0);
    }

    to {
        transform: scale(10.0);
    }

    to {
        transform: scale(1.0);
    }
}

/* animation for winning hand */
#player-pick {
    margin: 25px 50px;
    height: 10vh;
    width: 10vh;
    display: inline-block;

    animation-name: element-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes element-move {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.2);
    }
}

/* ===================================== 404 page ========================================= */

#error-h1 {
    font-weight: bold;
    font-size: 22pt;
    background-color: rgb(74 145 89);
    border-radius: 20px;
    color: white;
    margin: 30px auto;
    width: 425px;
    box-shadow: black 0px 1px 20px 0px;
    padding: 10px;
    text-align: center;
}

#error-h2 {
    font-size: 3vh;
    width: 40vh;
    text-align: center;
    margin: 30px auto;
    background: #6f9fc3;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

#error-p {
    background: #5d7e8a;
    text-align: center;
    margin: 0 auto;
    font-size: 3vh;
    width: 32vh;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

#error-link {
    color: inherit;
}

/* ======================================= media queries ============================================================= */

@media screen and (max-width: 800px) {
    body {
        background-size: cover;
        background-position-y: 107%;
        background-position-x: 31%;
    }

    #main-intro h1 {
        margin: 50px auto 25px;
    }

    h2 {
        margin: 30px auto 10px;
    }

    #start-button {
        font-size: 12pt;
        width: 100px;
    }

    #opponent {
        font-size: 4vh;
        width: 43vh;
    }

    #opponent-pic {
        top: 58%;
        right: 5%;
        height: 39vh;
        width: 30vw;
    }

    .button {
        margin: 8vh 20px 3vh;
    }

    #intro-text p {
        width: 350px;
        font-size: 15pt;
        padding: 10px;
    }

    #go-button {
        margin: 20px auto;
    }

    #result-area {
        width: unset;
    }

    #comp-hand {
        margin: 25px auto;
    }

    #player-pick {
        margin: 50px 40px 30px;
        width: 8vh;
    }

    #comp-lose {
        width: 8vh;
        margin: 50px 40px 30px;
    }

    #next-button {
        margin: 10px auto 0;
    }

    #outcome {
        margin: 0px auto;
    }

    #biggu-bossu {
        height: 40vh;
        width: 41vh;
        position: absolute;
        top: 58%;
    }

    #result-area p {
        margin: 20px auto 10px;
    }
}

@media screen and (max-width: 600px) {
    #main-intro h1 {
        width: 200px;
        font-size: 25pt;
    }

    h2 {
        width: 150px;
        font-size: 18pt;
    }

    #intro-text p {
        width: 200px;
        font-size: 13pt;
    }


    #head-restart {
        width: 8vw;
        height: 8vw;
        font-size: 4vw;
    }

    .button {
        width: 9vw;
        margin: 9vh 17px 3vh;
    }

    #opponent {
        font-size: 3vh;
        width: 33vh;
    }

    #opponent-pic {
        top: 61%;
        height: 36vh;
        width: 36vw;
    }

    #player-choice {
        margin: 20px auto;
    }

    #comp-hand {
        margin: 50px auto 30px;
    }

    #lose-message {
        font-size: 2vh;
        width: 28vh;
        margin: 40px auto 0px;
    }

    #result-area p {
        margin: 20px auto 0px;
        line-height: 5vh;
        width: 32vh;
        font-size: 2vh;
    }

    #next-button {
        margin: 20px auto 0;
    }

    #game-area {
        height: 22vh;
    }

    #biggu-bossu {
        height: 35vh;
        width: 37vh;
        position: absolute;
        top: 60%;
    }

    #over-message {
        width: 175px;
        font-size: 18pt;
    }

    #gameover-text {
        width: 180px;
        font-size: 12pt;
    }

    #win-message {
        width: 175px;
        font-size: 18pt;
    }

    #win-text {
        width: 180px;
        font-size: 12pt;
    }

    #restart-button {
        height: 75px;
        width: 75px;
        font-size: 14pt;
    }

    #error-h1 {
        font-size: 18pt;
        width: 225px;
    }

}

/* For phones in landscape mode */
@media (max-height: 400px) and (max-width: 700px) {    
    #main-intro h1 {
        margin: 25px auto;
        font-size: 18pt;
        width: 250px;
    }
    
    h2 {
        margin: 20px auto 10px;
        width: 225px;
        font-size: 16pt;
    }

    #intro-text p {
        width: 350px;
        font-size: 12pt;
    }

    .button {
        margin: 4vh 20px 3vh;
    }
    
    #opponent-pic {
        top: 50%;
    }

    #player-choice {
        margin: 20px auto 0px;
    }

    #player-pick {
        margin: 10px 30px 20px;
    }

    #lose-message {
        margin: 10px auto 0px;
        width: 130px;
    }

    #comp-hand {
        margin: 15px auto 0px;
    }

    #comp-lose {
        margin: 10px 30px 20px;
    }

    #game-area {
        height: 21vh;
    }

    #result-area p {
        margin: 0px auto 10px;
    }

    #biggu-bossu {
        right: 22%;
        top: 50%;
    }

    #win-message {
        margin: 20px auto;
    }

    #win-text {
        margin: 20px auto 10px;
        width: 300px;
    }

    #restart-button {
        font-size: 12pt;
    }

    #over-message {
        width: 250px;
    }

    #gameover-text {
        margin: 20px auto 10px;
        width: 350px;
    }
}

@media screen and (max-width: 320px) {
    .button {
        height: 5vh;
        width: 5vh;
        margin: 9vh 10px 3vh;
    }

    #opponent {
        width: 29vh;
    }

    #opponent-pic {
        top: 62%;
    }
}