/* Google Fonts: Lato heading */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: rgb(116 158 173);
    background-image: url(../images/background-new.webp);
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: contain;
}

/* ======================= nav bar ============================================== */

.ham {
    position: fixed;
    z-index: 100;
    top: 1rem;
    left: 1rem;
    width: 5vw;
    height: 5vw;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.xIcon {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 22%;
    height: 100vh;
    background: rgb(111, 159, 195, 0.8);
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 6rem;
    padding-left: 1rem;
}

.showMenu {
    transform: translateY(0);
}

li {
    padding: 1rem 0;
}

.menuLink {
    display: inline;
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

.menuLink:hover {
    text-decoration: underline;
}

.material-icons {
    font-size: 3vw;
}

/* =================================== game area ================================================== */

#main-intro {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 60pt;
    background-color: rgb(74 145 89);
    border-radius: 20px;
    color: white;
    margin: 30px auto;
    width: 522px;
    box-shadow: black 0px 1px 20px 0px;
}

#main-intro h1 {
    font-weight: bold;
    font-size: 60pt;
    background: #455d66;
    border-radius: 20px;
    color: #c7ebf2;
    margin: 125px auto 100px;
    width: 600px;
    box-shadow: black 0px 1px 20px 0px;
}

h2 {
    margin: 30px auto;
    font-size: 25pt;
    background: #6f9fc3;
    width: 550px;
    color: white;
}

/* ====================== game ====================== */

#button-area {
    text-align: center;
}

#opponent-pic {
    background-image: url(../images/intern-div.webp);
    background-repeat: no-repeat;
    height: 45vh;
    width: 17vw;
    background-size: contain;
    float: right;
    position: absolute;
    right: 25%;
    top: 53%;
    z-index: -1;
}

#opponent {
    font-size: 5vw;
    margin: 0 auto;
    font-weight: 900;
    color: white;
    background: #77acb2;
    width: 50%;
    margin-top: 31px;
    box-shadow: black 0px 1px 20px 0px;
    display: block;
}

#play-button {
    margin: 30px auto;
    font-size: 30pt;
    height: 50px;
    width: 125px;
    background-color: rgb(19 154 60);
    border-radius: 20px;
    box-shadow: black 0px 1px 20px 0px;
    cursor: pointer;
    color: white;

    animation-name: elemenet-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#start-button {
    color: white;
    width: 24vw;
    margin: 40px auto;
    background-color: rgb(19 154 60);
    font-weight: 900;
    font-size: 3vw;
    cursor: pointer;
    box-shadow: black 0px 1px 20px 0px;
    border-radius: 10%;
}

#intro-text p {
    font-size: 4vh;
    line-height: 6vh;
    width: 60vw;
    background: #58a8c3;
    border-radius: 10%;
    color: white;
    margin: 60px auto 30px;
    padding: 45px;
}

.button {
    margin: 30px 33px 0;
    height: 7vh;
    width: 7vw;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 99;
}

.button:hover {
    transform: scale(1.2);
    transition: all 0.3s ease 0s;
}

#head-restart {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background: #989191;
    font-size: 25pt;
}

#game-area {
    margin: 0 auto;
    text-align: center;
}

#player-choice {
    margin: 75px auto 0px;
    height: 9vh;
    width: 6vw;
    z-index: 99;
}

#player-value {
    font-weight: 800;
    font-weight: 800;
    font-size: 30pt;
    background: #5f5c5c;
    color: white;
    width: 200px;
    border-radius: 10%;
    margin: 0 auto;
    box-shadow: black 0px 1px 20px 0px;
}

#go-button {
    font-size: 3vw;
    width: 7vw;
    height: 7vh;
    border-radius: 20%;
    cursor: pointer;
    margin: 50px auto 0px;
    box-shadow: black 0px 1px 20px 0px;
    color: white;
    background: #3a9432;
}

#health {
    display: block;
    font-size: 3vw;
    background: #079607;
    width: 10vw;
    margin: 1% auto 0;
    color: white;
    border-radius: 50%;
    font-weight: 900;
}

#comp-choice {
    font-size: 24pt;
    font-weight: 900;
}

#comp-hand {
    margin: 50px auto 0px;
    height: 9vh;
    width: 6vw;
}

#comp-lose {
    height: 10vh;
    width: 10vw;
    margin: 20px 50px;
    display: inline-block;

    animation-name: element-opacity;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes element-opacity {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.1;
    }
}


#outcome {
    font-size: 30pt;
    background: #5f5c5c;
    margin: 30px auto 0px;
    width: 305px;
    font-weight: 900;
    color: white;
    box-shadow: black 0px 1px 20px 0px;
    border-radius: 10%;
}

#next-button {
    font-size: 4vh;
    margin: 6% auto 0;
    border-radius: 20px;
    width: 50%;
    cursor: pointer;
    color: white;
    background: #3a9432;
    box-shadow: black 0px 1px 20px 0px;
}

#result-area {
    text-align: center;
    font-size: 22pt;
    padding-top: 20px;
    font-weight: bold;
    width: 800px;
    margin: 1% auto 0;
}

#result-area p {
    margin: 0px auto;
    box-shadow: black 0px 1px 20px 0px;
    background: #3da6a3;
    line-height: 6vh;
    width: 80%;
    height: 17vh;
    border-radius: 10%;
    color: white;
    font-size: 4vh;
    padding: 20px;
}

#restart-button {
    background: #3a9432;
    color: white;
    width: 175px;
    height: 175px;
    font-size: 28pt;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: black 0px 1px 20px 0px;
}

#over-message {
    background: black;
    box-shadow: black 0px 1px 20px 0px;
    font-size: 10vh;
    width: 650px;
    margin: 50px auto;

    animation-name: game-over;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes game-over {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.1);
    }
}

#gameover-text {
    margin: 80px auto 20px;
    font-size: 4vh;
    line-height: 4vw;
    width: 40vw;
    height: 21vh;
    font-weight: 600;
    color: white;
    background-color: #808385;
    border-radius: 10%;
    padding: 30px;
}

#win-message {
    margin: 200px auto 100px;
    width: 500px;
    font-size: 75pt;
    color: white;
    box-shadow: none;
}

#win-text {
    font-size: 4vh;
    line-height: 4vh;
    margin: 70px auto 35px;
    width: 44vh;
    height: 15vh;
    padding: 30px;
}

#win-text-two {
    margin: 30px auto;
    font-size: 30pt;
    font-weight: 700;
    background: #7e7ec1;
    width: 787px;
}

#biggu-bossu {
    background-repeat: no-repeat;
    height: 50vh;
    width: 40vw;
    background-size: contain;
    position: absolute;
    right: 0%;
    top: 43%;
    z-index: -1;
}

/* animation for losing hand */
#lose-message {
    font-size: 4vh;
    width: 35vw;
    margin: 0 auto;
    background-color: #505050;
    border-radius: 10%;
    padding: 10px;
    color: white;

    animation-name: try-again;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes try-again {
    from {
        transform: scale(0.0);
    }

    to {
        transform: scale(10.0);
    }

    to {
        transform: scale(1.0);
    }
}

/* animation for winning hand */

#player-pick {
    margin: 25px 50px;
    height: 10vh;
    width: 10vw;
    display: inline-block;

    animation-name: elemenet-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes elemenet-move {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.2);
    }
}

/* ================================== rules ========================================= */

#body-rules {
    overflow: unset;
    height: unset;
    color: white;
}

#rules-intro {
    text-align: center;
}

#rules-intro h1 {
    margin: 50px auto;
    width: 60%;
    font-size: 60pt;
    background: #455d66;
    box-shadow: black 0px 1px 20px 0px;
}

#rules-intro p {
    font-size: 24pt;
    margin: 30px auto;
    background: #68acb9;
    width: 60%;
    padding: 20px;
    border-radius: 10%;
    opacity: 0.9;
}

#how-to-play {
    text-align: center;
    height: 350px;
}

#how-to-play h2 {
    margin: 70px auto 20px;
    background: #3a9432;
    box-shadow: black 0px 1px 20px 0px;
}

.rule-div {
    width: 17%;
    margin: 20px 14px 30px;
    height: 220px;
    padding: 2% 0;
    border-radius: 10%;
    background-color: #69acb9;
    opacity: 0.9;
    display: inline-block;
    box-shadow: black 0px 1px 5px 0px;
}

.rule-div h3 {
    font-size: 20pt;
}

.rule-div p {
    font-size: 17pt;
    margin: 25px auto;
}

#how-to-play img {
    width: 700px;
    height: 300px;
}

#game-setting {
    text-align: center;
    margin-top: 100px;
    height: 800px;
}

#game-setting h2 {
    margin: 30px auto;
    width: 500px;
    background: #3a9432;
    box-shadow: black 0px 1px 20px 0px;
}

#game-setting p {
    margin: 30px 10%;
    font-size: 23pt;
    background-color: #68acb9;
    padding: 3%;
    border-radius: 10%;
    opacity: 0.9;
}

/* ================================== contact ========================================= */

#form-section {
    text-align: center;
}

#form-section h1 {
    margin: 70px auto 50px;
    width: 60%;
    background: #455d66;
    font-size: 50pt;
}

form {
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 3px;
    font-weight: bold;
}


#form-div-back h2 {
    color: white;
    padding: 10px;
    text-transform: uppercase;
}


#form-div-front {
    background-color: rgb(120 178 180);
    border-radius: 10%;
    width: 400px;
    margin: 0 auto;
    box-shadow: black 0px 1px 20px 0px;
}


.contactus-form {
    padding: 30px;
}


.label {
    margin: 0px;
    width: 100%;
    float: left;
    font-size: 14pt;
}


#fname,
#lname,
#email,
#message {
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    width: 75%;
    padding: 2px 0px 0px 10px;
    margin: 10px 10%;
}

.formbutton {
    border-radius: 10px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: #137932;
    color: #fafafa;
    cursor: pointer;
    font-size: 14pt;
}


.formbutton:hover {
    background-color: #fafafa;
    color: #836225;
}

/* ======================================= media queries ============================================================= */
@media screen and (max-width: 800px) {

}