/* Google Fonts: Lato heading */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: rgb(77, 126, 148);
    background-image: url(../images/background.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 90%;
    overflow: hidden;
    height: auto;
}

/* ======================= nav bar ============================================== */

.ham {
    position: fixed;
    z-index: 100;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.xIcon {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10%;
    height: 100vh;
    background: rgb(111, 159, 195, 0.8);
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 4rem;
    padding-left: 1rem;
}

.showMenu {
    transform: translateY(0);
}

li {
    padding: 1rem 0;
}

.menuLink {
    display: inline;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.menuLink:hover {
    text-decoration: underline;
}

/* =================================== game area ================================================== */

#main-intro {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 60pt;
    background-color: rgb(154 26 26);
    border-radius: 20px;
    color: white;
    margin: 30px auto;
    width: 522px;
    box-shadow: black 0px 1px 20px 0px;
}

h2 {
    margin: 30px auto;
    box-shadow: black 0px 1px 20px 0px;
    font-size: 24pt;
    background: #6f9fc3;
    width: 510px;
}

/* ====================== game ====================== */

#button-area {
    text-align: center;
}

#opponent-pic {
    background-image: url(../images/intern-div.webp);
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-size: contain;
    float: right;
    position: absolute;
    right: -20px;
    top: 60%;
    z-index: -1;
}

#opponent,
#attempts {
    font-size: 40pt;
    margin: 0 auto;
    font-weight: 900;
    color: white;
    background: #77acb2;
    width: 600px;
    margin-top: 20px;
    box-shadow: black 0px 1px 20px 0px;
    height: 75px;
    border-radius: 50%;
    display: block;
}

#play-button {
    text-align: center;
    margin: 50px auto;
    font-size: 60pt;
    background-color: rgb(19 154 60);
    border-radius: 20px;
    width: 211px;
    box-shadow: black 0px 1px 20px 0px;
    cursor: pointer;
    color: white;

    animation-name: elemenet-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#start-button {
    color: white;
    width: 200px;
    margin: 40px auto;
    background-color: rgb(19 154 60);
    font-weight: 900;
    font-size: 30pt;
    cursor: pointer;
    box-shadow: black 0px 1px 20px 0px;
    border-radius: 10%;
}

#intro-text p {
    font-size: 24pt;
    line-height: 65px;
    background: #58a8c3;
    border-radius: 10%;
    width: 700px;
    color: white;
    margin: 60px auto 30px;
    padding: 20px;
    box-shadow: black 0px 1px 20px 0px;
}

.button {
    margin: 50px 33px;
    height: 70px;
    width: 118px;
    border-radius: 10%;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 99;
}

.button:hover {
    transform: scale(1.2);
    transition: all 0.3s ease 0s;
}

#head-restart {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background: #989191;
    font-size: 18pt;
}

#game-area {
    margin: 0 auto;
    text-align: center;
}

#player-choice {
    margin: 0 auto;
}

#player-value {
    font-weight: 800;
    font-weight: 800;
    font-size: 30pt;
    background: #5f5c5c;
    color: white;
    width: 200px;
    border-radius: 10%;
    margin: 0 auto;
    box-shadow: black 0px 1px 20px 0px;
}

#go-button {
    font-size: 30pt;
    background: white;
    width: 100px;
    border-radius: 20%;
    cursor: pointer;
}

#health {
    display: block;
    font-size: 30pt;
    background: #079607;
    width: 200px;
    margin: 50px auto 0;
    color: white;
    border-radius: 50%;
    font-weight: 900;
}

#comp-choice {
    font-size: 24pt;
    font-weight: 900;
}

#comp-lose {
    margin: 0 auto;
    position: unset;
}

#outcome {
    font-size: 30pt;
    background: #5f5c5c;
    margin: 0px auto;
    width: 305px;
    font-weight: 900;
    color: white;
    box-shadow: black 0px 1px 20px 0px;
    border-radius: 10%;
}

#next-button {
    font-size: 28pt;
    margin-top: 30px;
    border-radius: 20px;
    width: 310px;
    cursor: pointer;
    color: white;
    background: #3a9432;
    box-shadow: black 0px 1px 20px 0px;
}

#result-area {
    text-align: center;
    font-size: 22pt;
    padding-top: 20px;
    font-weight: bold;
    width: 800px;
    margin: 70px auto;
}

#result-area p {
    margin: 30px auto;
    box-shadow: black 0px 1px 20px 0px;
    background: #3da6a3;
    height: 180px;
    line-height: 60px;
    width: 426px;
    border-radius: 10%;
}

#overMessage {
    margin: 200px auto 100px;
    width: 400px;
    font-size: 40pt;
    font-weight: 900;
}

#restart-button {
    background: #3a9432;
    color: white;
    width: 150px;
    height: 150px;
    font-size: 30pt;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: black 0px 1px 20px 0px;
}

#over-message {
    background: black;
    box-shadow: black 0px 1px 20px 0px;
}

#gameover-text {
    margin: 50px auto;
    font-size: 26pt;
    width: 600px;
    font-weight: 600;
    color: white;
    background-color: #808385;
    border-radius: 10%;
    padding: 20px;
}

#win-message {
    margin: 200px auto 100px;
    width: 500px;
    font-size: 40pt;
    color: white;
}

#win-text {
    font-size: 30pt;
    margin: 30px auto;
    width: 500px;
}

#win-text-two {
    margin: 30px auto;
    font-size: 30pt;
    font-weight: 700;
    background: #7e7ec1;
    width: 787px;
}

/* animation for losing hand */
#lose-message {
    font-size: 18pt;
    width: 330px;
    margin: 0 auto 25px;
    background-color: #505050;
    border-radius: 10%;
    padding: 10px;
    color: white;

    animation-name: try-again;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes try-again {
    from {
        transform: scale(0.0);
    }

    to {
        transform: scale(10.0);
    }

    to {
        transform: scale(1.0);
    }
}

/* animation for winning hand */

#player-pick {
    margin-left: 37%;
    width: 20%;

    animation-name: elemenet-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes elemenet-move {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.7);
    }
}

/* ================================== rules ========================================= */

#body-rules {
    overflow: unset;
    height: unset;
    color: white;
}

#rules-intro {
    text-align: center;
}

#rules-intro h1 {
    margin: 50px auto;
    width: 500px;
    box-shadow: black 0px 1px 20px 0px;
}

#rules-intro p {
    font-size: 24pt;
    margin: 0 25%;
}

#how-to-play {
    text-align: center;
    height: 350px;
}

#how-to-play h2 {
    margin: 70px auto 20px;
}

.rule-div {
    float: left;
    width: 20%;
    margin: 20px 0 30px;
    height: 220px;
    padding: 2% 0;
    border-radius: 10%;
    background-color: rgb(41, 107, 107, 90%);
}

.rule-div h3 {
    font-size: 30pt;
}

.rule-div p {
    font-size: 16pt;
}

#how-to-play p {
    padding: 0 50px;
    margin: 30px 0;
}

#how-to-play img {
    width: 700px;
    height: 300px;
}

#game-setting {
    text-align: center;
    margin-top: 100px;
    height: 800px;
}

#game-setting h2 {
    margin: 30px auto;
    width: 500px;
}

#game-setting p {
    margin: 30px 10%;
    font-size: 23pt;
    background-color: rgb(41, 107, 107, 90%);
    padding: 3%;
    border-radius: 10%;
}

/* ================================== contact ========================================= */

#form-section {
    text-align: center;
}

#form-section h2 {
    margin: 70px auto 50px;
    width: 280px;
}

form {
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 3px;
    font-weight: bold;
}


#form-div-back h2 {
    color: white;
    padding: 10px;
    text-transform: uppercase;
}


#form-div-front {
    background-color: rgb(120 178 180);
    border-radius: 10%;
    width: 400px;
    margin: 0 auto;
    box-shadow: black 0px 1px 20px 0px;
}


.contactus-form {
    padding: 30px;
}


.label {
    margin: 0px;
    width: 100%;
    float: left;
    font-size: 14pt;
}


#fname,
#lname,
#email,
#message {
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    width: 75%;
    padding: 2px 0px 0px 10px;
    margin: 10px 10%;
}

.formbutton {
    border-radius: 10px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: #137932;
    color: #fafafa;
    cursor: pointer;
    font-size: 14pt;
}


.formbutton:hover {
    background-color: #fafafa;
    color: #836225;
}

/* to fit the characters with the window */

@media screen and (max-height: 790px) {
    #opponent-pic {
        top: 50%;
    }
}

@media screen and (max-height: 600px) {
    #opponent-pic {
        top: 35%;
    }
}

/* To fit bossu */
@media screen and (max-width: 1500px) {

    .button {
        margin: 50px 0;
    }
}

/* bossu fit */
@media screen and (max-width: 1200px) {
    .button {
        margin: 10px 12%;
        display: block;
    }

    #player-choice {
        top: 241px;
        position: absolute;
        margin: 0 46%;
    }

    #go-button {
        margin: 0 -4%;
        position: absolute;
        top: 410px;
    }

    #comp-lose {
        margin: 0 46%;
        position: absolute;
        top: 400px;
    }

    #lose-message {
        font-size: 18pt;
        width: 250px;
        margin: 0px 39%;
        position: absolute;
        top: 548px;
    }

    #outcome {
        margin: 0px 37%;
        position: absolute;
        top: 540px;
    }
}

@media screen and (max-width: 950px) {
    #outcome {
        margin: 0px 28%;
    }

    #comp-lose {
        margin: 0 35%;
    }

    #player-choice {
        margin: 0 35%;
    }

    #go-button {
        margin: 0 -16%;
    }

    #lose-message {
        margin: 0 27%;
    }

    #opponent-pic {
        right: -90px;
        top: 65%;
    }
}

@media screen and (max-width: 800px) {}