/* used for the rule page to add scrolling */

/* ======================= nav bar ============================================== */

.ham {
    position: fixed;
    z-index: 100;
    top: 1rem;
    left: 1rem;
    width: 5vw;
    height: 5vw;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.xIcon {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 22%;
    height: 100vh;
    background: rgb(111, 159, 195, 0.8);
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 6rem;
    padding-left: 1rem;
}

.showMenu {
    transform: translateY(0);
}

li {
    padding: 1rem 0;
}

.menuLink {
    display: inline;
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

.menuLink:hover {
    text-decoration: underline;
}

.material-icons {
    font-size: 3vw;
}

/* ==================== body ============================== */

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: rgb(116 158 173);
    background-image: url(../images/background-new.webp);
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: contain;
}

#body-rules {
    overflow: unset;
    height: unset;
    color: white;
}

#rules-intro {
    text-align: center;
}

#rules-intro h1 {
    margin: 50px auto;
    width: 34vw;
    font-size: 5vw;
    background: #455d66;
    box-shadow: black 0px 1px 20px 0px;
}

#rules-intro p {
    font-size: 2vw;
    margin: 30px auto;
    background: #68acb9;
    width: 60%;
    padding: 20px;
    border-radius: 10%;
    opacity: 0.9;
}

#how-to-play {
    text-align: center;
    height: 350px;
}

#how-to-play h2 {
    margin: 70px auto 20px;
    background: #3a9432;
    box-shadow: black 0px 1px 20px 0px;
    font-size: 3vw;
    width: 27vw;
}

.rule-div {
    width: 16%;
    margin: 20px 10px 30px;
    height: 20vh;
    padding: 2% 0;
    border-radius: 10%;
    background-color: #69acb9;
    opacity: 0.9;
    display: inline-block;
    box-shadow: black 0px 1px 5px 0px;
}

.rule-div h3 {
    font-size: 2vw;
}

.rule-div p {
    font-size: 2vw;
    margin: 25px auto;
}

#how-to-play img {
    width: 700px;
    height: 300px;
}

#game-setting {
    text-align: center;
    margin-top: 100px;
    height: 800px;
}

#game-setting h2 {
    margin: 30px auto;
    width: 30vw;
    font-size: 3vw;
    background: #3a9432;
    box-shadow: black 0px 1px 20px 0px;
}

#game-setting p {
    margin: 30px 10%;
    font-size: 23pt;
    background-color: #68acb9;
    padding: 3%;
    border-radius: 10%;
    opacity: 0.9;
}