/* Google Fonts: Lato heading */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: rgb(77, 126, 148);
    background-image: url(../images/background.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 20%;
    overflow: hidden;
    height: auto;
}

/* ======================= nav bar ============================================== */

.ham {
    position: fixed;
    z-index: 100;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.xIcon {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 22%;
    height: 100vh;
    background: rgb(111, 159, 195, 0.8);
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 4rem;
    padding-left: 1rem;
}

.showMenu {
    transform: translateY(0);
}

li {
    padding: 1rem 0;
}

.menuLink {
    display: inline;
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

.menuLink:hover {
    text-decoration: underline;
}

/* =================================== game area ================================================== */

#main-intro {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 60pt;
    background-color: rgb(74 145 89);
    border-radius: 20px;
    color: white;
    margin: 30px auto;
    width: 522px;
    box-shadow: black 0px 1px 20px 0px;
}

#main-intro h1 {
    font-weight: bold;
    font-size: 75pt;
    background: #455d66;
    border-radius: 20px;
    color: white;
    margin: 145px auto 100px;
    width: 522px;
    box-shadow: black 0px 1px 20px 0px;
}

h2 {
    margin: 30px auto;
    box-shadow: black 0px 1px 20px 0px;
    font-size: 31pt;
    background: #6f9fc3;
    width: 510px;
}

/* ====================== game ====================== */

#button-area {
    text-align: center;
}

#opponent-pic {
    background-image: url(../images/intern-div.webp);
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-size: contain;
    float: right;
    position: absolute;
    right: 0px;
    top: 53%;
    z-index: -1;
}

#opponent,
#attempts {
    font-size: 40pt;
    margin: 0 auto;
    font-weight: 900;
    color: white;
    background: #77acb2;
    width: 50%;
    margin-top: 31px;
    box-shadow: black 0px 1px 20px 0px;
    display: block;
}

#play-button {
    text-align: center;
    margin: 50px auto;
    font-size: 60pt;
    background-color: rgb(19 154 60);
    border-radius: 20px;
    width: 211px;
    box-shadow: black 0px 1px 20px 0px;
    cursor: pointer;
    color: white;

    animation-name: elemenet-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#start-button {
    color: white;
    width: 275px;
    margin: 40px auto;
    background-color: rgb(19 154 60);
    font-weight: 900;
    font-size: 50pt;
    cursor: pointer;
    box-shadow: black 0px 1px 20px 0px;
    border-radius: 10%;
}

#intro-text p {
    font-size: 35pt;
    line-height: 100px;
    background: #58a8c3;
    border-radius: 10%;
    width: 700px;
    color: white;
    margin: 60px auto 30px;
    padding: 45px;
    box-shadow: black 0px 1px 20px 0px;
}

.button {
    margin: 75px 33px;
    height: 150px;
    width: 175px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 99;
}

.button:hover {
    transform: scale(1.2);
    transition: all 0.3s ease 0s;
}

#head-restart {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border: black solid 1px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background: #989191;
    font-size: 18pt;
}

#game-area {
    margin: 0 auto;
    text-align: center;
}

#player-choice {
    position: absolute;
    margin: 0 auto;
    height: 175px;
    width: 150px;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 99;
}

#player-value {
    font-weight: 800;
    font-weight: 800;
    font-size: 30pt;
    background: #5f5c5c;
    color: white;
    width: 200px;
    border-radius: 10%;
    margin: 0 auto;
    box-shadow: black 0px 1px 20px 0px;
}

#go-button {
    font-size: 50pt;
    background: white;
    width: 145px;
    border-radius: 20%;
    cursor: pointer;
    top: 58%;
    position: absolute;
    margin: 0px -4%;
}

#health {
    display: block;
    font-size: 60pt;
    background: #079607;
    width: 200px;
    margin: 50px auto 0;
    color: white;
    border-radius: 50%;
    font-weight: 900;
    box-shadow: black 0px 1px 20px 0px;
}

#comp-choice {
    font-size: 24pt;
    font-weight: 900;
}

#comp-hand {
    margin: 0px 46%;
    position: absolute;
    height: 150px;
    width: 150px;
    top: 70%;
}

#comp-lose {
    height: 150px;
    width: 150px;
    top: 24%;
    margin: 0 57%;

    animation-name: element-opacity;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes element-opacity {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.1;
    }
}


#outcome {
    font-size: 30pt;
    background: #5f5c5c;
    margin: 0px auto;
    width: 305px;
    font-weight: 900;
    color: white;
    box-shadow: black 0px 1px 20px 0px;
    border-radius: 10%;
    position: absolute;
}

#next-button {
    font-size: 35pt;
    margin: 0 20%;
    border-radius: 20px;
    width: 50%;
    cursor: pointer;
    color: white;
    background: #3a9432;
    box-shadow: black 0px 1px 20px 0px;
    position: absolute;
    top: 47%;
}

#result-area {
    text-align: center;
    font-size: 22pt;
    padding-top: 20px;
    font-weight: bold;
    width: 800px;
    margin: 70px auto;
}

#result-area p {
    margin: 0px 8%;
    box-shadow: black 0px 1px 20px 0px;
    background: #3da6a3;
    line-height: 70px;
    width: 60%;
    border-radius: 10%;
    color: white;
    position: absolute;
    top: 42%;
    font-size: 35pt;
    padding: 20px;
}

#restart-button {
    background: #3a9432;
    color: white;
    width: 200px;
    height: 200px;
    font-size: 40pt;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: black 0px 1px 20px 0px;
}

#over-message {
    background: black;
    box-shadow: black 0px 1px 20px 0px;
    font-size: 87pt;
    width: 650px;

    animation-name: game-over;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes game-over {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.1);
    }
}

#gameover-text {
    margin: 80px auto;
    font-size: 34pt;
    width: 600px;
    font-weight: 600;
    color: white;
    background-color: #808385;
    border-radius: 10%;
    padding: 70px
}

#win-message {
    margin: 200px auto 100px;
    width: 500px;
    font-size: 75pt;
    color: white;
}

#win-text {
    font-size: 38pt;
    margin: 72px auto;
    width: 500px;
    padding: 20px;
}

#win-text-two {
    margin: 30px auto;
    font-size: 30pt;
    font-weight: 700;
    background: #7e7ec1;
    width: 787px;
}

#biggu-bossu {
    background-repeat: no-repeat;
    height: 700px;
    width: 700px;
    background-size: contain;
    float: right;
    position: absolute;
    right: -20px;
    top: 46%;
    z-index: -1;
}

/* animation for losing hand */
#lose-message {
    font-size: 28pt;
    width: 370px;
    margin: 0 41%;
    background-color: #505050;
    border-radius: 10%;
    padding: 10px;
    color: white;
    position: absolute;
    top: 58%;

    animation-name: try-again;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes try-again {
    from {
        transform: scale(0.0);
    }

    to {
        transform: scale(10.0);
    }

    to {
        transform: scale(1.0);
    }
}

/* animation for winning hand */

#player-pick {
    margin: 0px 34%;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 24%;

    animation-name: elemenet-move;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes elemenet-move {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.2);
    }
}

/* ================================== rules ========================================= */

#body-rules {
    overflow: unset;
    height: unset;
    color: white;
}

#rules-intro {
    text-align: center;
}

#rules-intro h1 {
    margin: 50px auto;
    width: 60%;
    font-size: 60pt;
    background: #455d66;
    box-shadow: black 0px 1px 20px 0px;
}

#rules-intro p {
    font-size: 24pt;
    margin: 30px auto;
    background: #7e8380;
    width: 60%;
    padding: 20px;
    border-radius: 10%;
}

#how-to-play {
    text-align: center;
    height: 350px;
}

#how-to-play h2 {
    margin: 70px auto 20px;
    background: #659da9;
}

.rule-div {
    float: left;
    width: 20%;
    margin: 20px 0 30px;
    height: 220px;
    padding: 2% 0;
    border-radius: 10%;
    background-color: #455d66;
}

.rule-div h3 {
    font-size: 20pt;
}

.rule-div p {
    font-size: 17pt;
    margin: 25px auto;
}

#how-to-play img {
    width: 700px;
    height: 300px;
}

#game-setting {
    text-align: center;
    margin-top: 100px;
    height: 800px;
}

#game-setting h2 {
    margin: 30px auto;
    width: 500px;
    background: #659da9;
}

#game-setting p {
    margin: 30px 10%;
    font-size: 23pt;
    background-color: #455d66;
    padding: 3%;
    border-radius: 10%;
}

/* ================================== contact ========================================= */

#form-section {
    text-align: center;
}

#form-section h1 {
    margin: 70px auto 50px;
    width: 60%;
    background: #455d66;
    font-size: 50pt;
}

form {
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 3px;
    font-weight: bold;
}


#form-div-back h2 {
    color: white;
    padding: 10px;
    text-transform: uppercase;
}


#form-div-front {
    background-color: rgb(120 178 180);
    border-radius: 10%;
    width: 400px;
    margin: 0 auto;
    box-shadow: black 0px 1px 20px 0px;
}


.contactus-form {
    padding: 30px;
}


.label {
    margin: 0px;
    width: 100%;
    float: left;
    font-size: 14pt;
}


#fname,
#lname,
#email,
#message {
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    width: 75%;
    padding: 2px 0px 0px 10px;
    margin: 10px 10%;
}

.formbutton {
    border-radius: 10px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: #137932;
    color: #fafafa;
    cursor: pointer;
    font-size: 14pt;
}


.formbutton:hover {
    background-color: #fafafa;
    color: #836225;
}

/* to fit the characters with the window */

/* @media (max-height: 1500px) {
    #opponent-pic {
        top: 65%;
    }
}

@media (max-height: 950px) {
    #opponent-pic {
        top: 54%;
    }
}

@media (max-height: 700px) {
    #opponent-pic {
        top: 45%;
    }
} */

/* To fit bossu */
/* @media (max-width: 1500px) {

    .button {
        margin: 50px 0;
    }
} */

/* bossu fit */
/* @media (max-width: 1200px) {
    .button {
        margin: 10px 12%;
        display: block;
    }

    #player-choice {
        top: 241px;
        position: absolute;
        margin: 0 46%;
    }

    #go-button {
        margin: 0 -4%;
        position: absolute;
        top: 410px;
    }

    #comp-hand {
        margin: 0 46%;
        position: absolute;
        top: 400px;
    }

    #lose-message {
        font-size: 18pt;
        width: 250px;
        margin: 0px 39%;
        position: absolute;
        top: 548px;
    }

    #outcome {
        margin: 0px 37%;
        position: absolute;
        top: 540px;
    }
} */

@media (max-height: 1800px) and (max-width: 1200px) {
    .button {
        margin: 44px 0 0 23px;
        height: 100px;
        width: 17%;
    }

    #opponent-pic {
        height: 500px;
        width: 310px;
        top: 64%;
    }

    #player-choice {
        margin: 100px auto 50px;
        top: unset;
        position: unset;
    }

    #go-button {
        margin: 0 auto;
        top: unset;
        position: unset;
    }

    #intro-text p {
        font-size: 30pt;
        width: 60%;
    }

    #lose-message {
        top: unset;
        margin: 0 auto 75px;
        font-size: 20pt;
        position: unset;
    }

    #comp-hand {
        top: unset;
        margin: 0 auto;
        position: unset;
    }

    #outcome {
        margin: 50px auto 0;
        top: unset;
        position: unset;
    }

    #player-pick {
        margin: 75px 30px;
        top: unset;
        position: unset;
        height: 175px;
        width: 175px;
        display: inline-block;
    }

    #comp-lose {
        margin: 75px 30px;
        top: unset;
        position: unset;
        height: 175px;
        width: 175px;
        display: inline-block;
    }

    #result-area p {
        margin: 0 auto;
        position: unset;
        font-size: 28pt;
        top: unset;
    }

    #next-button {
        top: unset;
        margin: 89px auto;
        position: unset;
    }

    #biggu-bossu {
        top: 63%;
        right: 0px;
        background-size: contain;
        width: 600px;
    }

    #over-message {
        margin-top: 100px;
    }
}

@media (max-height: 1400px) and (max-width: 1200px) {

    .button {
        margin: 44px 0 0 23px;
        height: 70px;
        display: unset;
        width: 17%;
    }

    #opponent-pic {
        height: 450px;
        width: 270px;
        top: 54%;
    }

    body {
        background-position-x: 22%;
    }

    #biggu-bossu {
        height: 520px;
        width: 520px;
        top: 54%;
    }

    #player-choice {
        position: unset;
        top: unset;
        margin: 100px auto 25px;
        width: 150px;
        height: 150px;
}

    #player-pick {
        height: 150px;
        width: 150px;
        margin: 25px 50px;
    }

    #go-button {
        position: unset;
        margin: 0 auto;
        top: unset;
        width: 150px;
        height: 70px;
        font-size: 38pt;
        font-weight: 700;
        box-shadow: black 0px 1px 20px 0px;
    }

    h1 {
        margin: 155px auto 100px;
        width: 500px;
        font-size: 78pt;
    }

    h2 {
        border-radius: 10%;
        width: 500px;
        font-size: 35pt;
    }

    #intro-text p {
        font-size: 32pt;
        line-height: 80px;
        margin: 60px auto 30px;
        width: 70%;
    }

    #start-button {
        font-weight: 700;
        font-size: 55pt;
        width: 300px;
    }

    #health {
        font-size: 50pt;
    }

    #comp-hand {
        position: unset;
        top: unset;
        margin: 50px auto;
        width: 150px;
        height: 150px;
    }

    #result-area {
        margin: 0px auto;
    }

    #result-area p {
        font-size: 24pt;
        height: 200px;
    }

    #comp-lose {
        height: 150px;
        width: 150px;
        margin: 25px 50px;
    }

    #lose-message {
        top: unset;
        position: unset;
        margin: 0px auto;
        font-size: 25pt;
    }

    #outcome {
        position: unset;
        top: unset;
        margin: 0 auto;
    }

    #over-message {
        padding: 30px;
    }
}

@media (max-height: 1100px) and (max-width: 1200px) {
    #opponent-pic {
        height: 400px;
        width: 275px;
        top: 52%;
    }

    #biggu-bossu {
        top: 45%;
    }

    #lose-message {
        font-size: 20pt;
    }

    #comp-hand {
        margin: 25px auto;
        width: 125px;
        height: 125px;
    }

    #intro-text p {
        font-size: 22pt;
        line-height: 80px;
        margin: 70px auto 30px;
        width: 65%;
    }

    #start-button {
        font-size: 40pt;
        width: 240px;
    }

    #outcome {
        top: 54%;
        font-size: 24pt;
        width: 225px;
    }

    #player-pick {
        height: 100px;
        width: 100px;
    }

    #player-choice {
        margin: 75px auto 25px;
        width: 125px;
        height: 125px;
    }

    #comp-lose {
        height: 100px;
        width: 100px;
    }

    #result-area p {
        margin: 0 auto;
        line-height: 40pt;
        height: unset;
    }

    #next-button {
        padding: 10px;
        font-size: 25pt;
    }

    #health {
        font-size: 30pt;
        width: 140px;
    }

    #over-message {
        font-size: 60pt;
    }

    #gameover-text {
        font-size: 25pt;
        padding: 30px;
    }

    #restart-button {
        width: 150px;
        height: 150px;
        font-size: 27pt;
    }

    #win-message {
        margin: 100px auto 100px;
    }

    #win-text {
        font-size: 30pt;
    }
}

@media (max-height: 900px) and (max-width: 1200px) {
    #play-button {
        font-size: 45pt;
    }

    #main-intro h1 {
        margin: 50px auto;
        font-size: 60pt;
    }

    h1 {
        margin: 80px auto 45px;
        width: 400px;
        font-size: 60pt;
    }

    h2 {
        width: 350px;
        font-size: 24pt;
    }

    .button {
        height: 70px;
    }

    #biggu-bossu {
        top: 33%;
    }

    #go-button {
        margin: 0px -8%;
        height: 60px;
        width: 110px;
    }

    #player-choice {
        height: 100px;
        width: 100px;
        margin: 50px auto 0px;
    }

    #comp-hand {
        height: 100px;
        width: 100px;
    }

    #player-pick {
        height: 75px;
        width: 75px;
    }

    #comp-lose {
        height: 75x;
        width: 75px;
    }

    #opponent-pic {
       height: 300px;
        width: 300px;
        top: 54%;
        right: -20px;
    }

    #biggu-bossu {
        top: 40%;
        width: 430px;
    }

    #result-area p {
        font-size: 20pt;
        line-height: 30pt;
    }

    #intro-text p {
        width: 60%;
        line-height: 50px;
    }

    #health {
        font-size: 30pt;
    }

    #next-button {
        margin: 50px auto;
        font-size: 20pt;
    }

    #opponent {
        font-size: 30pt;
    }

    #over-message {
        font-size: 40pt;
        width: 400px;
    }

    #gameover-text {
        width: 480px;
        line-height: 32pt;
        font-size: 20pt;
    }

    #restart-button {
        width: 100px;
        height: 100px;
        font-size: 21pt;
    }

    #win-message {
        font-size: 50pt;
    }
}

@media (max-height: 700px) and (max-width: 1200px) {
    #comp-hand {
        margin: 10px auto 0px;
    }

    #player-choice {
        margin: 0 auto;
    }

    #lose-message {
        font-size: 15pt;
    }

    #go-button {
        margin: 0 -6%;
        top: 330px;
        font-size: 28pt;
        width: 100px;
        height: 50px;
    }

    #outcome {
        top: 350px;
    }

    #health {
        margin-top: 30px;
    }

    #opponent-pic {
        top: 45%;
    }

    #result-area p {
        line-height: 30px;
        font-size: 19pt;
    }

    #next-button {
        margin: 25px auto;
    }

    #biggu-bossu {
        top: 40%;
        width: 352px;
    }

    .button {
        height: 55px;
        width: 55px;
        margin: 50px 50px 20px 50px;
    }

    #intro-text p {
        width: 60%;
        line-height: 45px;
        padding: 2%;
    }

    #comp-lose {
        height: 75px;
        width: 75px;
    }

    #player-pick {
        height: 75px;
        width: 75px;
    }

    #over-message {
        font-size: 35pt;
        margin-top: 50px;
    }

    #gameover-text {
        padding: 20px;
        line-height: 32pt;
        margin: 40px auto;
    }

    #win-message {
        margin: 100px auto 50px;
        width: 450px;
    }

    #win-text {
        font-size: 20pt;
    }
}

/* Where the background pic stops adjusting */
@media (max-height: 600px) and (max-width: 1200px) {

}

/* This height because the game needs to fit on the screen without scrolling, and screens are generally not that high compared to the width */
@media (max-height: 1300px) and (max-width: 800px) {
    body {
        background-position-x: 28%;
    }

    .menuLink {
        font-size: 2rem;
    }

    #main-intro h1 {
        font-size: 72pt;
        width: 70%;
    }

    #main-intro h2 {
        width: 60%;
    }

    #player-choice {
        margin: 0px 40%;
        width: 60%;
    }

    #result-area {
        width: 60%;
    }

    #intro-text p {
        font-size: 26pt;
        line-height: 45px;
        margin: 70px auto 30px;
        width: 60%;
    }

    .button {
        margin: 80px auto 0px 17px;
        height: 60px;
        width: 17%;
        float: left;
    }

    #player-choice {
        margin: 220px auto 0px;
        position: unset;
        width: 100px;
        top: unset;
        height: 100px;
    }

    #go-button {
        position: unset;
        width: 100px;
        height: 70px;
        font-size: 30pt;
    }

    #comp-hand {
        position: unset;
        top: unset;
        margin: 20px auto 0px;
        width: 100px;
        height: 100px;
    }

    #outcome {
        position: unset;
        top: unset;
        margin: 23px auto;
    }

    #lose-message {
        top: unset;
        position: unset;
        margin: 0px auto;
        font-size: 25pt;
    }

    #player-pick {
        height: 100px;
        width: 100px;
        position: unset;
        top: unset;
        float: left;
    }

    #comp-lose {
        top: unset;
        height: 100px;
        width: 100px;
    }

    #result-area p {
        margin: 0 auto;
        font-size: 20pt;
        width: 90%;
        position: unset;
        line-height: 35pt;
    }

    #next-button {
        top: unset;
        margin: 70px auto 0;
        position: unset;
        font-size: 28pt;
    }

    #win-message {
        width: 60%;
        font-size: 75pt;
    }

    #win-text {
        font-size: 24pt;
        margin: 60px auto;
        width: 60%;
    }

    #restart-button {
        width: 150px;
        height: 150px;
        font-size: 30pt;
    }

    #over-message {
        font-size: 40pt;
        margin: 50px auto 20px;
        width: 60%;
    }

    #gameover-text {
        margin: 80px auto;
        font-size: 20pt;
        line-height: 40pt;
        width: 60%
    }
}

@media (max-height: 1100px) and (max-width: 800px) {
    #result-area p {
        line-height: 35pt;
        font-size: 17pt;
    }
}

@media (max-height: 900px) and (max-width: 800px) {
    #opponent-pic {
        width: 290px;
    }
}

@media (max-height: 1300px) and (max-width: 600px) {
    #opponent-pic {
        width: 290px;
    }
}