/* used for the rule page to add scrolling */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* ==================== body ============================== */

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: rgb(116 158 173);
    background-image: url(../images/game-pictures/background-new.webp);
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: contain;
}

#active {
    border-bottom: 2px solid white;
}

#body-rules {
    overflow: unset;
    height: unset;
    color: white;
}

#rules-intro {
    text-align: center;
}

#rules-intro h1 { 
    margin: 50px auto;
    width: 350px;
    font-size: 40pt;
    background: #455d66;
    box-shadow: black 0px 1px 20px 0px;
    border-radius: 20px;
}

#rules-intro p {
    font-size: 16pt;
    width: 500px;
    margin: 30px auto;
    background: #68acb9;
    padding: 20px;
    box-shadow: black 0px 1px 5px 0px;
    border-radius: 20px;
}

#how-to-play {
    text-align: center;
    height: 525px;
}

#how-to-play h2 {
    font-size: 22pt;
    width: 350px;
    margin: 70px auto 20px;
    background: #3a9432;
    box-shadow: black 0px 1px 20px 0px;
    border-radius: 20px;
}

.rule-div {
    height: 350px; 
    width: 18%;
    margin: 50px 5px 20px;
    border-radius: 20px;
    background-color: #69acb9;
    display: inline-block;
    box-shadow: black 0px 1px 5px 0px;
    z-index: -1;
}

.rule-div h3 {
    font-size: 20pt;
}

.rule-div p {
    font-size: 16pt;
}

#how-to-play img {
    width: 700px;
    height: 300px;
}

#game-setting {
    text-align: center;
}

#game-setting h2 {
    margin: 0px auto 30px;
    width: 350px;
    font-size: 22pt;
    background: #3a9432;
    box-shadow: black 0px 1px 20px 0px;
    border-radius: 20px;
}

#game-setting p {
    font-size: 20pt;
    padding: 30px;
    margin: 30px 10%;
    background-color: #68acb9;
    border-radius: 20px;
    box-shadow: black 0px 1px 5px 0px;
}

#show-rock {
    background: url(../images/game-pictures/rock.webp);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

#show-paper {
    background: url(../images/game-pictures/paper.webp);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

#show-scissors {
    background: url(../images/game-pictures/scissors.webp);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

#show-lizard {
    background: url(../images/game-pictures/lizard.webp);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

#show-spock {
    background: url(../images/game-pictures/spock.webp);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

/* ============================ media queries ======================================= */

@media screen and (max-width: 800px) {
    #rules-intro h1 {
        width: 300px;
        font-size: 30pt;
    }

    #rules-intro p {
        font-size: 14pt;
        width: 380px;
        padding: 20px;
    }

    #how-to-play h2 {
        font-size: 20pt;
        width: 250px;
    }

    .rule-div {
        margin: 20px 2px;
        height: 300px;
    }

    .rule-div h3 {
        font-size: 18pt;
    }

    .rule-div p {
        font-size: 14pt;
    }

    #how-to-play {
        height: 390px;
    }

    #game-setting p {
        font-size: 14pt;
        padding: 20px;
    }

    #game-setting h2 {
        margin: 30px auto;
        width: 250px;
        font-size: 20pt;
    }
}

@media screen and (max-width: 600px) {
    #rules-intro h1 {
        margin: 25px auto;
        width: 200px;
        font-size: 24pt;
    }

    #main-intro h1 {
        margin: 50px auto;
        font-size: 6vh;
        width: 200px;
    }

    h2 {
        font-size: 3vh;
        width: 180px;
        padding: 10px;
    }

    #play-button {
        margin: 30px auto;
        font-size: 3vh;
        height: 4vh;
        width: 100px;
    }

    #intro-text p {
        font-size: 2vh;
        line-height: 5vh;
        width: 80%;
        padding: 10px;
    }

    .button {
        height: 7vh;
        width: 14vw;
        display: block;
        margin: 8vh 20px;
    }

    #rules-intro h1 {
        margin: 25px auto;
        width: 250px;
        font-size: 26pt;
    }

    #rules-intro p {
        font-size: 14pt;
        margin: 30px auto;
        width: 200px;
    }

    #how-to-play {
        height: unset;
    }

    #how-to-play h2 {
        margin: 20px auto;
        font-size: 16pt;
        width: 180px;
    }

    .rule-div {
        margin: 10px auto;
        height: 200px;
        width: 220px;
        border-radius: 10%;
        display: block;
    }

    .rule-div h3 {
        font-size: 18pt;
        padding-top: 10px;
        margin: 5px auto 10px;
    }

    #show-rock {
        width: 50px;
        height: 50px;
        margin: 20px auto;
    }

    #show-paper {
        width: 50px;
        height: 50px;
        margin: 20px auto;
    }

    #show-scissors {
        width: 50px;
        height: 50px;
        margin: 20px auto;
    }

    #show-lizard {
        width: 50px;
        height: 50px;
        margin: 20px auto;
    }

    #show-spock {
        width: 50px;
        height: 50px;
        margin: 20px auto;
    }

    .rule-div p {
        font-size: 12pt;
        display: inline-block;
        margin: 0 15px 15px;
        font-weight: 900;
    }

    #game-setting h2 {
        margin: 30px auto;
        width: 180px;
        font-size: 14pt;
    }

    #game-setting p {
        font-size: 14pt;
        width: 249px;
        padding: 15px;
        margin: 20px auto;
    }
}

@media screen and (max-width: 320px) {
    #rules-intro h1 {
        margin: 25px auto;
        width: 200px;
        font-size: 22pt;
    }
    
    #rules-intro p {
        font-size: 14pt;
        margin: 30px auto 50px;
        width: 185px;
    }

    #how-to-play h2 {
        margin: 20px auto;
        font-size: 14pt;
        width: 150px;
    }

    .rule-div {
        width: 62%;
    }

    .rule-div h3 {
        font-size: 18pt;
        padding-top: 10px;
        margin: 5px auto 10px;
    }

    .rule-div p {
        font-size: 12pt;
        margin: 0 8px 15px;
    }

    #game-setting h2 {
        margin: 50px auto 30px;
        width: 180px;
        font-size: 14pt;
    }

    #game-setting p {
        font-size: 12pt;
        width: 200px;
        padding: 18px;
        margin: 20px auto;
    }
}